<section id="about-header" class="position-relative  overflow-hidden d-flex justify-content-center align-items-center">
    <app-grid-background></app-grid-background>
    <div class="circle circle-orange"></div>
    <div class="circle circle-yellow"></div>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center flex-column position-relative z-2">
            <app-section-label>
                <app-ping-dot></app-ping-dot>
                <span class="small fw-medium" style="color: #f97316;"> من نحن </span>
            </app-section-label>

            <h1 class="header-title mb-3">مهمتنا هي
                <span class="gradient-text">الإعلام والإلهام</span>
            </h1>
            <p class="mx-auto text-center">مدونة متخصصة في فن التصوير الفوتوغرافي، نشارك معكم أسرار المحترفين ونصائح
                عملية لتطوير
                مهاراتكم. نحن شغوفون بمشاركة المعرفة ومساعدة المصورين على تنمية مهاراتهم من خلال محتوى عالي الجودة.</p>


            <div class="glass-card-container row row-cols-2 row-cols-md-4 g-3 mx-auto">

                <div class="col">
                    <div class="glass-card p-4">
                        <i class="fa-solid fa-users mb-1 fa-xl fa-xl"></i>
                        <p class="font-bold gradient-text">+2مليون</p>
                        <p class="text-neutral-500 text-sm">قارئ شهرياً</p>
                    </div>
                </div>

                <div class="col">
                    <div class="glass-card p-4">
                        <i class="fa-solid fa-newspaper  mb-1 fa-xl"></i>
                        <p class="font-bold gradient-text">+500</p>
                        <p class="text-neutral-500 text-sm">مقالة منشورة</p>
                    </div>
                </div>

                <div class="col">
                    <div class="glass-card p-4">
                        <i class="fa-solid fa-pen-nib mb-1 fa-xl"></i>
                        <p class="font-bold gradient-text">+50</p>
                        <p class="text-neutral-500 text-sm">كاتب خبير</p>
                    </div>
                </div>


                <div class="col">
                    <div class="glass-card p-4">
                        <i class="fa-solid fa-book-open  mb-1 fa-xl"></i>
                        <p class="font-bold gradient-text">+15</p>
                        <p class="text-neutral-500 text-sm">تصنيف</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>