<footer class="overflow-hidden position-relative">
    <div class="custom-circle orange-circle"></div>
    <div class="custom-circle yellow-circle"></div>
    <div class="container py-5 position-relative z-3">
        <div class="row g-4">
            <!--logo & social icons-->
            <div class="col-12 col-md-6 col col-lg-3">
                <div class="d-flex align-items-center mb-3" style="gap: 12px;;">
                    <div class="footer-logo d-flex justify-content-center align-items-center">
                        <span class="text-white fw-bold ">ع</span>
                    </div>
                    <span class="text-white fw-bold ">عدسة</span>
                </div>
                <p class="text-description">مدونة متخصصة في فن التصوير الفوتوغرافي، نشارك معكم أسرار المحترفين
                    ونصائح عملية لتطوير مهاراتكم.</p>
                <div class="social-icons-container d-flex gap-2">
                    <a class="social-icon d-flex justify-content-center align-items-center" href="https://x.com/adasah"
                        target="_blank">
                        <i class="fa-lg fa-brands fa-x-twitter"></i>
                    </a>
                    <a class="social-icon d-flex justify-content-center align-items-center"
                        href="https://github.com/adasah" target="_blank">
                        <i class="fa-lg fa-brands fa-github"></i>
                    </a>
                    <a class="social-icon d-flex justify-content-center align-items-center"
                        href="https://www.linkedin.com/company/adasah" target="_blank">
                        <i class="fa-lg fa-brands fa-linkedin"></i>
                    </a>
                    <a class="social-icon d-flex justify-content-center align-items-center"
                        href="https://www.youtube.com/@adasah" target="_blank">
                        <i class="fa-lg fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>
            <!--Second col-->
            <div class="col-12 col-md-6 col col-lg-3">

                <h5 class="text-white fw-semibold mb-3 d-flex align-items-center gap-2">
                    <span class="gradient-line"></span>
                    استكشف
                </h5>
                <ul class="list list-unstyled mb-0 p-0">
                    <li class="mb-2 d-flex">
                        <a class="text-decoration-none" routerLink="/home">
                            <i class="arrow-icon fa-solid fa-angle-left arrow"></i>
                            الرئيسية</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <a class="text-decoration-none" routerLink="/blog">
                            <i class="arrow-icon fa-solid fa-angle-left arrow"></i>
                            المدونة</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <a class="text-decoration-none" routerLink="/about">
                            <i class="arrow-icon fa-solid fa-angle-left arrow"></i>
                            من نحن</a>
                    </li>
                </ul>
            </div>
            <!--Third col-->
            <div class="col-12 col-md-6 col col-lg-3">

                <h5 class="text-white fw-semibold mb-3 d-flex align-items-center gap-2">
                    <span class="gradient-line"></span>
                    التصنيفات
                </h5>
                <ul class="list list-unstyled mb-0 p-0">
                    <li class="mb-2 d-flex">
                        <a class="text-decoration-none" routerLink="/home">
                            <i class="arrow-icon fa-solid fa-angle-left arrow"></i>
                            إضاءة</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <a class="text-decoration-none" routerLink="/home">
                            <i class="arrow-icon fa-solid fa-angle-left arrow"></i>
                            بورتية</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <a class="text-decoration-none" routerLink="/home">
                            <i class="arrow-icon fa-solid fa-angle-left arrow"></i>
                            مناظر طبيعية</a>
                    </li>
                    <li class="mb-2 d-flex">
                        <a class="text-decoration-none" routerLink="/home">
                            <i class="arrow-icon fa-solid fa-angle-left arrow"></i>
                            تقنيات</a>
                    </li>
                </ul>
            </div>

            <!--Fourth col-->
            <div class="col-12 col-md-6 col col-lg-3">
                <h5 class="text-white fw-semibold mb-3 d-flex align-items-center gap-2">
                    <span class="gradient-line"></span>
                    ابقى على اطلاع
                </h5>
                <p class="text-description">اشترك للحصول على أحدث المقالات والتحديثات.</p>
                <input class="form-control  custom-input" type="email" name="userEmail" id="userEmail"
                    placeholder="أدخل بريدك الإلكتروني">
                <button class="btn gradient-btn w-100">اشترك</button>
            </div>
        </div>
    </div>
    <div class="policy">
        <div class="container px-3 px-sm-4 px-lg-5 py-4">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-4">
                <p>© 2026 عدسة. صنع بكل
                    <i class="fa-solid fa-heart"></i>
                    جميع الحقوق محفوظة.
                </p>
                <div class="d-flex gap-4">
                    <a href="">سياسة الخصوصية</a>
                    <a href="">شروط الخدمة</a>
                </div>
            </div>
        </div>
    </div>
</footer>