<nav class="navbar navbar-expand-lg fixed-top custom-navbar">
    <div class="container d-flex justify-content-between align-items-center mx-auto">

        <a class="navbar-brand d-flex align-items-center gap-2 " routerLink="/home>
            <div class="logo-wrapper">
                <img src="/imgi_1_logo-GdqARQRt.png" alt="Logo" class="w-100 h-100 object-fit-cover">
            </div>
            <div class="brand-text">
                <span class="brand-title">عدسة</span>
                <span class="brand-subtitle d-none d-sm-block">عالم التصوير الفوتوغرافي</span>
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleMenu()">
            <i class="fa-solid" [class.fa-bars]="!isMenuOpen" [class.fa-xmark]="isMenuOpen"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 d-flex justify-content-center ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">الرئيسية</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blog" routerLinkActive="active">المدونة</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">من نحن</a>
                </li>
            </ul>
            <!--Buttons on right-->
            <div class="d-flex align-items-center gap-2 me-auto">
                <button class="btn search-btn d-none d-lg-block">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <a class="btn gradient-btn d-flex justify-content-center align-items-center me-auto w-100"
                    routerLink="/blog">ابدأ
                    القراءة</a>
            </div>
        </div>
    </div>
</nav>